* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, footer, header, main {
    overflow-x: hidden;
    background-color: #1a161a;
     align-items: center;
    justify-content: center; 
    gap: 1rem;
    flex-wrap: wrap;
}

label.form-check-label, label.form-label, a.nav-link {
    color: #4feb69;
}

form {
    width: fit-content;
    margin: inherit;
}

h1 {
    height: 15vh;
    padding-top: 15px;
    color: #f8f8f4;
    text-align: center;
}

h6.cap {
    color: #999;
    text-align: center;
    font-size: medium;
}

fieldset {
    background-color: #212529;
    padding: 30px;
    margin: 30px;
    justify-content: center;
}
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}
input {
    margin: 5px;
}
footer {
    text-align: center;
    flex-direction: column;
}
.imgLog {
    width: 150px;
}
.col{
    margin: auto;
}
.bi-arrow-right, .bi-arrow-left{
padding:  30px;
color: #b10b69;
font-size: 3.0rem;
}

